.demo {
  background-color: #3e464c;
}
.demo .demo-item {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  display: block;
  background-color: red;
  float: left;
  width: 300px;
  height: 100px;
  padding: 10px;
  margin: 5px;
  transition: all 200ms ease;
}
.demo .demo-item:hover {
  transform: scale(1.02, 1.02);
}
.demo .demo-item.red {
  background-color: #f44336;
}
.demo .demo-item.blue {
  background-color: blue;
}
.demo .demo-item.lgreen {
  color: #555;
  background-color: #8bc34a;
}
.demo .demo-item.purple {
  background-color: #9c27b0;
}
.demo .demo-item.orange {
  background-color: #ff5722;
}
.demo .demo-item.amber {
  background-color: #ffc107;
  color: #555;
}
.header {
  background-color: #3e464c;
  float: left;
  width: 100%;
  height: 10vh;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}
.header .label {
  box-sizing: initial;
  color: #7986cb;
}
.header .label .name {
  color: #FFF;
}


